<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{course.add.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{course.add.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/courses}" th:text="#{course.add.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('course')}" />
            <form th:action="${T(com.meng.school_classes.util.WebUtils).getRequest().requestURI}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='course', field='courseName')}" />
                <div th:replace="~{fragments/forms::inputRow(object='course', field='description')}" />
                <div th:replace="~{fragments/forms::inputRow(object='course', field='teacher', type='select')}" />
                <input type="submit" th:value="#{course.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
